.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    height: 60px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 1s;
}
.nav_black {
    background-color: #111;
}
.nav_logo {
    width: 150px;
    position: fixed;
    left: 10px;
    object-fit: contain;
}
.nav_avatar{
    width: 30px;
    position: fixed;
    right: 10px;
    object-fit: contain;
}